@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  @apply bg-base-200;
}

:root[data-theme="dark"] {
  color-scheme: dark;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
